.radio-group {
  margin-bottom: 20px;
}

.radio-group__title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 600;
}

.radio-group__item {
  display: flex;
  align-items: center;

  gap: 10px;

  margin-bottom: 10px;

  cursor: pointer;
}

.radio-group__field {
  width: 16px;
  height: 16px;
}

.radio-group__error {
  margin-top: 8px;

  color: #ef4444;
  font-size: 13px;
}
